* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.btn-container button {
  cursor: pointer;
  padding: 12px 48px;
  border-radius: 8px;
  border: none;
  background-color: #dedede;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.btn-container button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
  margin-left: 20px;
}

.timer-btn input {
  width: 210px;
  padding: 4px 24px 4px 8px;
}

.timer-btn button {
  padding: 4px 12px;
}

.timer {
  display: flex;
  gap: 24px;
}

.value {
  font-size: 32px;
  font-weight: 600;
}


.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 16px;
  font-weight: 500;
}